.git
.gitignore
node_modules
vendor
.env
.env.*
!.env.example
docker-compose*.yml
Dockerfile*
*.md
storage/*.key
storage/logs/*
bootstrap/cache/*
!/bootstrap/cache/.gitkeep
!/storage/app/.gitkeep
!/storage/framework/cache/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/logs/.gitkeep
